// ========== flex布局 start ==========
@mixin flex-setting($horizontal, $vertical: initial, $direction: row) {
    display: flex;
    justify-content: $horizontal;
    align-items: $vertical;
    flex-direction: $direction;
}

@mixin flex-center {
    @include flex-setting(center, center);
}

@mixin flex-space-between {
    @include flex-setting(center, space-between);

}
// ========== flex布局 end ==========
