* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    font-size: 14px;
    color: #BFBFBF;
}

.app,
html,
body {
    height: 100%;
    margin: 0;
    background-color: #f5f5f5;
    overflow-x: hidden;
    touch-action: none;
}

.app,
html,
body .normal-box-not-overhide {
    width: 100%;
    overflow-x: hidden;
    height: 100%;
    margin: 0;
    background-color: #f5f5f5;
    overflow-y: auto;
}

.normal-box {
    height: 100%;
}

// .app,
// html,
// body .normal-box {
// 	height: 100%;
// 	margin: 0;
// 	background-color: #f5f5f5;
// 	overflow-x: hidden;
// 	overflow: auto;
// }

body {
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    color: $color-text-l1;
    font-size: 14px;
}

p {
    margin: 0 0 5px 0;
    line-height: 1.4;
}

textarea {
    display: block;
    width: 100%;
    resize: none;
    margin: 0;
    padding: 8px;
    outline: none;
    box-shadow: none;
    border: 1px solid #F2F3F4;
    -webkit-appearance: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $color-text-l1;
    margin: 5px 0 10px 0;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 14px;
}

table {
    margin: 0;
    padding: 0;
}

a {
    color: #0366d6;
}

.table {
    width: 100%;
}

form {
    margin: 0;
}

select {
    -webkit-appearance: none;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans", "Helvetica Neue", sans-serif;
}

option {
    font-size: 14px;
    color: $color-text-l3;
}

button {
    user-select: none;
    outline: none;
}

input {
    outline: none;
    -webkit-user-select: auto;
    /*webkit浏览器*/
    user-select: auto;
    -o-user-select: auto;
    -ms-user-select: auto;
}

input::-webkit-search-cancel-button {
    display: none;
}

/*去掉默认的搜索小图标*/
input[type="search"]::-webkit-search-decoration {
    display: none;
}

img {
    vertical-align: top;
}