.header-title {
    height: 60px;
    background-color: rgb(176, 167, 151);

    >div {
        height: 100%;
    }
    &-left {
        display: flex;

        .title-left-route {
            @include flex-setting(flex-end, center);
            padding: 0 10px;

            .iconfont {

            }
        }
    }
}