#root,
.music-content {
  height: 100%;
  width: 100%;
}

.music-content {
  background-color: #0f1423bd;
  
  @include flex-center;

  &-box {
    width: 1000px;
    height: 630px;
    background-color: #fff;
    border-radius: $border-radius-l3;
    overflow: hidden;
  }

  .iconfont {
    color: $icon-color;
  }

  .ant-row,
  .ant-col,
  .ant-flex {
      height: 100%;
  }
}
